[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/vaxe"]
	path = .vim/bundle/vaxe
	url = https://github.com/jdonaldson/vaxe.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "tools/imgur-screenshot"]
	path = tools/imgur-screenshot
	url = https://github.com/jomo/imgur-screenshot
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/vitality"]
	path = .vim/bundle/vitality
	url = https://github.com/sjl/vitality.vim.git
[submodule ".vim/bundle/unicode"]
	path = .vim/bundle/unicode
	url = https://github.com/chrisbra/unicode.vim.git
